.site-header{
    background-color:#19ceaa;   
    color:#ecfdf9;
    height:100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.profileImage{
    border-radius: 50%;
    height: 200px;
    widows: 200px;
    align-self: center;
    box-shadow: #0a8269 2px 5px 5px;
  

}

body{
    margin:0;
}